<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" (click)="MostrarClientes()">Clientes</a>
      <li><a class="navbar-brand" (click)="MostrarProductos()">Productos</a></li>
      <li><a class="navbar-brand" (click)="MostrarReservas()">Pedidos</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a (click)="desloguearse()">Desloguearme</a></li>        
    </ul>
  </div>
</nav>


<p>
  empleados!
<br>
  2- tiene la opción de dar de altas clientes, producto u ofertas y pedidos (si es funcional). <br>
  3- Ve la lista de pedidos y clientes con su estado
</p>

<br>
<div id="ClientesEmpleado" style="display: none">
<br>

 <div id="altaClientesEmpleado" style="display: none">
    <br>
    <form>
      <h1 style="text-align: center;"> Clientes </h1><br>
      <div class="form-group" style="text-align: center;">
        <label for="idClienteEmpleado" style="text-align: center;">ID:</label>
        <input readonly="true" type="text" style="text-align: center;" class="form-control" name="idClienteEmpleado" [(ngModel)]="idClienteEmpleado" id="idClienteEmpleado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="nombreClienteEmpleado" style="text-align: center;">Nombre:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="nombreClienteEmpleado" [(ngModel)]="nombreClienteEmpleado" id="nombreClienteEmpleado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="mailClienteEmpleado" style="text-align: center;">Mail:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="mailClienteEmpleado" [(ngModel)]="mailClienteEmpleado" id="mailClienteEmpleado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="telefonoClienteEmpleado" style="text-align: center;">Teléfono:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="telefonoClienteEmpleado" [(ngModel)]="telefonoClienteEmpleado" id="telefonoClienteEmpleado">
      </div>      
      <div class="form-group" style="text-align: center;">
        <label for="direccionClienteEmpleado" style="text-align: center;">Dirección:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="direccionClienteEmpleado" [(ngModel)]="direccionClienteEmpleado" id="direccionClienteEmpleado">
      </div>
      
      <div class="form-group" style="text-align: center;">
        <label for="usuarioLoginClienteEmpleado" style="text-align: center;">Usuario Login:</label><br>
        <select name="usuarioLoginClienteEmpleado" [(ngModel)]="usuarioLoginClienteEmpleado" id="usuarioLoginClienteEmpleado">
          <option *ngFor="let u of usuariosClientes" [value]="u.usuario">{{u.nombre}}</option>         
        </select>
      </div>

      <div style="text-align: center;">
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="GuardarCliente()">Guardar</button>
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="CancelarCliente()">Cancelar</button>
      </div>
    </form>
  </div>

  <div style="text-align: center;">  
    <div class="jumbotron margin-top-10 margin-bot-10">
      <h1 class="display-3 animated bounceInRight">Listado de Clientes</h1>
      <!--<p class="lead animated animated bounceInRight">Acà podrás ver todos los usuarios registrados en la página.</p>-->
      <!--<div align="right" *ngIf="!error" ><a class="btn btn-success" [routerLink]="['/datosusuario','alta']"><i class="material-icons">person_add</i></a></div>-->
      <div align="right" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="altaCliente()">Agregar Cliente</i></a></div>
      <hr class="my-4">

      <table class="table table-hover" *ngIf="!error">
        <thead class="thead-inverse">
          <tr>
            <th>Nombre</th>
            <th>Mail</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <!--<th>Usuario Login</th>-->
            <!--<th>Acciones</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of clientes" class="table-info animated fadeIn">
            <th scope="row"><span class="badge badge-default badge-pill">{{c.nombre}}</span></th>
            <!--<td><img src="./assets/img/usuarios/{{u.foto}}" style="width:100px"></td>-->
            <td>{{c.mail}}</td>
            <td>{{c.telefono}}</td>
            <td>{{c.direccion}}</td>
            <!--<td>{{c.idUsuario}}</td>-->
        
            <td>              
              <button class="btn btn-primary" (click)="mostrarCliente(c.ID, c.nombre,c.mail,c.telefono, c.direccion, c.idUsuario)"><i class="material-icons">Modificar</i></button>
              <button class="btn btn-danger" (click)="deleteCliente(c.ID)"><i class="material-icons">Borrar</i></button>              
            </td>
          </tr>
        </tbody>
      </table>

      <!--Si no hay datos-->
      <div *ngIf="error">
        <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
        <div class="alert alert-danger" role="alert">
          <strong>404</strong> Error de servidor.
        </div>
      </div>
    </div>
  </div>
</div>

<div id="ProductosEmpleado" style="display: none">
 <div id="altaProductosEmpleado" style="display: none">
    <br>
    <form align="center">
      <h1 style="text-align: center;"> Productos </h1><br>
      <div class="form-group" style="text-align: center;">
        <label for="idProductoEmpleado" style="text-align: center;">ID:</label>
        <input readonly="true" type="text" style="text-align: center;" class="form-control" name="idProductoEmpleado" [(ngModel)]="idProductoEmpleado" id="idProductoEmpleado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="nombreProductoEmpleado" style="text-align: center;">Nombre:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="nombreProductoEmpleado" [(ngModel)]="nombreProductoEmpleado" id="nombreProductoEmpleado">
      </div>   
      
      <div class="form-group" style="text-align: center;">
        <label for="descripcionProductoEmpleado" style="text-align: center;" >Descripción:</label>
        <input type="text" style="text-align: center;" class="form-control" name="descripcionProductoEmpleado" [(ngModel)]="descripcionProductoEmpleado" id="descripcionProductoEmpleado">
      </div>        
      <!--<div class="form-group" style="text-align: center;">
        <label for="direccionProductoEmpleado" style="text-align: center;" >Descripción:</label>
        <input type="text" style="text-align: center;" class="form-control" name="direccionProductoEmpleado" [(ngModel)]="direccionProductoEmpleado" id="direccionProductoEmpleado">
      </div>    -->       

    <!--<div class="container">-->
      <div class="form-group">
        <label for="direccionProductoEmpleado" style="text-align: center;">Direccion:</label>
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" name="direccionProductoEmpleado" [(ngModel)]="direccionProductoEmpleado" id="direccionProductoEmpleado">
      </div>
      <!--<sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
      </sebm-google-map>-->
    <!--</div>-->

      <div class="form-group" style="text-align: center;">
        <label for="tipoProductoEmpleado" style="text-align: center;">Tipo:</label>
        <select required name="tipoProductoEmpleado" [(ngModel)]="tipoProductoEmpleado" id="tipoProductoEmpleado">
        <option [value]="''" selected>Elija tipo</option>
        <option [value]="'Venta'">Venta</option>
        <option [value]="'Alquiler'">Alquiler</option>
        </select>      
      <!-- <input type="text" style="text-align: center;" class="form-control" id="tipoUsuarioEncargado">-->
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="vDesdeProductoEmpleado" style="text-align: center;" >Vigencia Desde:</label>
        <input type="date" style="text-align: center;" class="form-control" name="vDesdeProductoEmpleado" [(ngModel)]="vDesdeProductoEmpleado" id="vDesdeProductoEmpleado">
      </div>    
      <div class="form-group" style="text-align: center;">
        <label for="vHastaProductoEmpleado" style="text-align: center;" >Vigencia Desde:</label>
        <input type="date" style="text-align: center;" class="form-control" name="vHastaProductoEmpleado" [(ngModel)]="vHastaProductoEmpleado" id="vHastaProductoEmpleado">
      </div>  
      <div class="form-group" style="text-align: center;">
        <label for="monedaProductoEmpleado" style="text-align: center;">Moneda:</label>
        <select required name="monedaProductoEmpleado" [(ngModel)]="monedaProductoEmpleado" id="monedaProductoEmpleado">
        <option [value]="''" selected>Elija moneda</option>
        <option [value]="'Pesos'">Pesos</option>
        <option [value]="'Dolares'">Dolares</option>
        <option [value]="'Euros'">Euros</option>
        </select>      
      <!-- <input type="text" style="text-align: center;" class="form-control" id="tipoUsuarioAdministrador">-->
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="precioProductoEmpleado" style="text-align: center;" >Precio:</label>
        <input type="numeric" style="text-align: center;" class="form-control" name="precioProductoEmpleado" [(ngModel)]="precioProductoEmpleado" id="precioProductoEmpleado">
      </div>               

      <div class="form-group">
        <label class="control-label col-sm-2"><b>Imagen:</b></label>
          <div ng2FileDrop
                [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                (fileOver)="fileOverBase($event)"
                [uploader]="uploader"
                class="well my-drop-zone">
              Arroja aquì tu imagen
              <div *ngFor="let item of uploader.queue">
              {{ item?.file?.name }}
              </div>
          </div>
      </div>
      <div align="center" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="subirImagenes()">Subir Imagenes</i></a></div>      

    <br>
    <br>
    <table style="width:100%">
      <tr style="width: 30%">

      </tr>
      <tr style="width: 30%">
        <!--<div style="width: 50%" align="center">-->
          <div align="center">
          <carousel>
            <slide>
              <img class="itemCarousel" src="http://nfranzeseutn.hol.es/miAPIRest/fotos/{{foto1ProductoEmpleado}}">
            </slide>
            <slide>
              <img class="itemCarousel" src="http://nfranzeseutn.hol.es/miAPIRest/fotos/{{foto2ProductoEmpleado}}">
            </slide>
            <slide>
              <img class="itemCarousel" src="http://nfranzeseutn.hol.es/miAPIRest/fotos/{{foto3ProductoEmpleado}}">
            </slide>
          </carousel>
        </div>
      </tr> 
      <tr style="width: 30%">

      </tr>
    </table>

    <div style="text-align: center;">
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="GuardarProducto()" >Guardar</button>
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="CancelarProducto()">Cancelar</button>        
    </div>
    </form>
  </div>

    <div id="altaLocalesProductosEmpleado" style="display: none">
        <br>
        <div id="formularioAltaLocal">
          <form align="center">          
            <div class="form-group" style="text-align: center;">
              <label for="LocalProductoEmpleado" style="text-align: center;">Elija Local a agregar:</label><br>
              <select name="LocalProductoEmpleado" [(ngModel)]="LocalProductoEmpleado" id="LocalProductoEmpleado">
                <option *ngFor="let l of locales" [value]="l.ID">{{l.nombre}}</option>         
              </select>
            </div>
     
            <br>
            <div style="text-align: center;">
              <button type="submit" class="btn btn-default" style="text-align: center;" (click)="GuardarLocalProducto()" >Guardar</button>
              <button type="submit" class="btn btn-default" style="text-align: center;" (click)="CerrarLocalProducto()">Cerrar</button>        
            </div>
          </form>
        </div>  

        <div style="text-align: center;">  
          <div class="jumbotron margin-top-10 margin-bot-10">
            <h2 class="display-3 animated bounceInRight">Listado de locales Asociados al producto {{productoLocal}}</h2>
            <!--<p class="lead animated animated bounceInRight">Acà podrás ver todos los usuarios registrados en la página.</p>-->
            <!--<div align="right" *ngIf="!error" ><a class="btn btn-success" [routerLink]="['/datosusuario','alta']"><i class="material-icons">person_add</i></a></div>-->
            <!--<div align="right" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="altaLocalProducto()">Agregar Local</i></a></div>-->
            <hr class="my-4">

            <table class="table table-hover" *ngIf="!error">
              <thead class="thead-inverse">
                <tr>
                  <th>Nombre</th>
                  <th>Direccion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lp of localesProductos" class="table-info animated fadeIn">
                  <!--<td><img src="./assets/img/usuarios/{{u.foto}}" style="width:100px"></td>-->            
                  <td>{{lp.nombre}}</td>
                  <td>{{lp.direccion}}</td>                  
                  <td>              
                    <button class="btn btn-danger" (click)="deleteLocalProducto(lp.ID)"><i class="material-icons">Borrar</i></button>                  
                  </td>
                </tr>
              </tbody>
            </table>

            <!--Si no hay datos-->
            <div *ngIf="error">
              <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
              <div class="alert alert-danger" role="alert">
                <strong>404</strong> Error de servidor.
              </div>
            </div>
          </div>
        </div>
                
      </div>


  <div style="text-align: center;">  
    <div class="jumbotron margin-top-10 margin-bot-10">
      <h1 class="display-3 animated bounceInRight">Listado de Productos</h1>
      <!--<p class="lead animated animated bounceInRight">Acà podrás ver todos los usuarios registrados en la página.</p>-->
      <!--<div align="right" *ngIf="!error" ><a class="btn btn-success" [routerLink]="['/datosusuario','alta']"><i class="material-icons">person_add</i></a></div>-->
      <div align="right" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="altaProducto()">Agregar Producto</i></a></div>
      <hr class="my-4">

      <table class="table table-hover" *ngIf="!error">
        <thead class="thead-inverse">
          <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Tipo</th>
            <th>Vigencia Desde</th>
            <th>Vigencia Hasta</th>
            <th>Precio</th>
            <th>Detalles</th>
            <th>Acciones</th>   
            <!--<th>Acciones</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of productos" class="table-info animated fadeIn">
            <th scope="row"><span class="badge badge-default badge-pill">{{p.nombre}}</span></th>
            <!--<td><img src="./assets/img/usuarios/{{u.foto}}" style="width:100px"></td>-->            
            <td>{{p.direccion}}</td>
            <td>{{p.tipo}}</td>
            <td>{{p.vDesde}}</td>
            <td>{{p.vHasta}}</td>
            <td>{{p.precio}}</td>           
            <td>              
              <button class="btn btn-warning" (click)="agregarLocales(p.ID, p.nombre)"><i class="material-icons">Locales</i></button>                                    
            </td>
            <td>
              <button class="btn btn-primary" (click)="mostrarProducto(p.ID, p.nombre, p.descripcion,p.direccion, p.tipo,p.vDesde, p.vHasta, p.foto1, p.foto2, p.foto3, p.moneda, p.precio)"><i class="material-icons">Modificar</i></button>
              <button class="btn btn-danger" (click)="deleteProducto(p.ID)"><i class="material-icons">Borrar</i></button>           
            </td>
          </tr>
        </tbody>
      </table>

      <!--Si no hay datos-->
      <div *ngIf="error">
        <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
        <div class="alert alert-danger" role="alert">
          <strong>404</strong> Error de servidor.
        </div>
      </div>
    </div>
  </div>

</div>

<!--
<div id="ReservasEmpleado" style="display: none">
<br>
  <form>
    <h1 style="text-align: center;"> Reserva </h1><br>
    <div class="form-group" style="text-align: center;">
      <label for="nombreClienteReservaEmpleado" style="text-align: center;">Nombre Cliente:</label>
      <input type="text" style="text-align: center;" class="form-control" id="nombreClienteReservaEmpleado">
    </div>
    <div class="form-group" style="text-align: center;">
      <label for="nombreVendedorReservaEmpleado" style="text-align: center;">Nombre Vendedor:</label>
      <input type="text" style="text-align: center;" class="form-control" id="nombreVendedorReservaEmpleado">
    </div>
    <div class="form-group" style="text-align: center;">
      <label for="fechaReservaEmpleado" style="text-align: center;" >Fecha:</label>
      <input type="date" style="text-align: center;" class="form-control" id="fechaReservaEmpleado">
    </div>
    <div class="form-group" style="text-align: center;">
      <label for="descripcionReservaEmpleado" style="text-align: center;" >Descripcion:</label>
      <input type="text" style="text-align: center;" class="form-control" id="descripcionReservaEmpleado">
    </div>
    <h1>Nos debe abrir un cuadro de selección de producto</h1><br><br>
    <div class="form-group" style="text-align: center;">
      <label for="totalReservaEmpleado" style="text-align: center;" >Total:</label>
      <input type="text" style="text-align: center;" class="form-control" id="totalReservaEmpleado">
    </div>
    
    <div style="text-align: center;">
      <button type="submit" class="btn btn-default" style="text-align: center;">Guardar</button>
    </div>
  </form>

  <div style="text-align: center;">  
    <br>
    <h1>Grilla de Reservas</h1>
  </div>
</div>-->


<div id="ReservasEmpleado" style="display: none">
  <div style="text-align: center;">  
    <div class="jumbotron margin-top-10 margin-bot-10">
      <h1 class="display-3 animated bounceInRight">Historial de reservas</h1>     
      <hr class="my-4">

      <table class="table table-hover" *ngIf="!error">
        <thead class="thead-inverse">
          <tr>
            <th>Cliente</th>
            <th>Nombre inmueble</th>
            <th>Direccion</th>
            <th>Tipo</th>
            <th>Fecha Desde</th>
            <th>Fecha Hasta</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hr of reservas" class="table-info animated fadeIn">
            <th scope="row"><span class="badge badge-default badge-pill">{{hr.Cliente}}</span></th>            
            <td>{{hr.nombre}}</td>
            <td>{{hr.direccion}}</td>
            <td>{{hr.tipo}}</td>
            <td>{{hr.fechaDesde}}</td>
            <td>{{hr.fechaHasta}}</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="error">
        <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
        <div class="alert alert-danger" role="alert">
          <strong>404</strong> Error de servidor.
        </div>
      </div>
    </div>
  </div>
</div>


<script>

  $('#myCarousel').carousel({
      interval: 4000
  });
</script>
