<!--<nav class="navbar navbar-inverse">-->
<nav class="navbar navbar-fixed-top navbar-toggleable-sm navbar-inverse bg-primary flex-nowrap">

  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" (click)="MostrarOfertas()">Ver Productos y Ofertas</a>

      <li><a class="navbar-brand" (click)="MostrarReservar()">Reservas</a></li>

    </ul>
  </div>    
   <div class="navbar-collapse collapse dual-nav">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item"><a class="navbar-brand mr-0" (click)="desloguearse()">Desloguearme</a></li>
        </ul>
    </div>
</nav>

<p>
  clientes!
  <br> 3- En la aplicación tiene la opción de ver las ofertas de todos los locales (o seleccionar un local y ver las ofertas).
  <br> 4- El cliente puede ver operaciones anteriores. ​<br> 5- Reservas​: el cliente puede generar una reserva Inmobiliarias El Campito: un alquiler en la costa(​con
  no menos de 30 días de anticipación y no máximo de 60 días. )
</p>

<br>
<div id="OfertasCliente">
  <br>
  <div class="form-group" style="text-align: center;">
    <label for="filtroLocal" style="text-align: center;">Elija Local:</label><br>
    <select name="filtroLocal" [(ngModel)]="filtroLocal" id="filtroLocal" (change)="cambiarFiltro()">
        <option value="todas">Todas las sucursales</option>
        <option *ngFor="let l of locales" [value]="l.ID">{{l.nombre}}</option>         
      </select>
  </div>

  <div id="divProductos">
    <spinner-component [spinnerShow]="show">
      <div class="spinner-2">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </spinner-component>
    <sk-fading-circle *ngIf="show"></sk-fading-circle>

    <div class="jumbotron margin-top-10 margin-bot-10">
      <h1 class="display-3 animated bounceInRight" style="text-align: center;">Nuestros Productos</h1>
      <!--<p class="lead animated bounceInRight">En esta sección podrás encontrar nuestros productos.</p>-->
      <hr class="my-4">

      <div class="row">
        <div class="col-md-4 animated fadeIn animated fadeIn" *ngFor="let p of productos">
          <div class="card margin-top-10">
            <div class="card-block">
              <h2 align="center"><b>{{p.nombre}}</b></h2>
                  <!--<table>
                    <tr style="width: 100%;  height:100%;">-->
                      <div align="center">
                        <carousel style="text-align: center;">
                          <slide style="text-align: center;">
                            <img style="width:300px;  height:300px;" src="http://nfranzeseutn.hol.es/miAPIRest/fotos/{{p.foto1}}">
                          </slide>
                          <slide style="text-align: center;">
                            <img style="width:300px;  height:300px;" src="http://nfranzeseutn.hol.es/miAPIRest/fotos/{{p.foto2}}">
                          </slide>
                          <slide style="text-align: center;">
                            <img style="width:300px;  height:300px;" src="http://nfranzeseutn.hol.es/miAPIRest/fotos/{{p.foto3}}">
                          </slide>
                        </carousel>
                      </div>
                    <!--</tr>
                  </table>-->
              <h3 align="center"><b>{{p.tipo}}</b></h3>
              <h4 align="center"><b>Vigencia Desde:</b> {{p.vDesde}}</h4>
              <h4 align="center"><b>Vigencia Hasta:</b> {{p.vHasta}}</h4>
              <h4 align="center">{{p.descripcion}}</h4>
              <br>
              <!--<h3 class="card-text"><small class="text-muted">Precio: {{p.moneda}} - {{p.precio}}</small></h3>-->
              <h4 align="center"><b>Dirección:</b> {{p.direccion}}</h4>
              <h3 align="center"><b>Precio:</b> {{p.moneda}} - {{p.precio}}</h3>

              <div style="text-align:center">
                <button class="btn btn-warning" (click)="addCarrito(p, p.ID)"><i class="material-icons">Reservar</i></button>
                <!--<button class="btn btn-primary" routerLink="/mapa" (click)="verMapa(p)"><i class="material-icons">Ver en Mapa</i></button>-->
                <button class="btn btn-primary" (click)="verMapa(p)"><i class="material-icons">Ver en Mapa</i></button>
                <!--<a class="btn btn-primary" [routerLink]="['/datosproducto',p.id]" *ngIf="btnEditar"><i class="material-icons">editar</i></a>
                  <button class="btn btn-danger" (click)="BorrarProducto(p.id)" *ngIf="btnBorrar"><i class="material-icons"></i></button>-->
              </div>

            </div>

          </div>
        </div>
      </div>

      <!--Si no hay datos-->
      <div *ngIf="error">
        <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
        <div class="alert alert-danger" role="alert">
          <strong>404</strong> Error de servidor.
        </div>
      </div>
    </div>

  </div>
</div>
<div id="mapaProducto" style="display: none">
  <div class="jumbotron margin-top-10 margin-bot-10">
    <h1 class="display-3 animated bounceInRight" style="text-align: center;">Mapa</h1>
    <p class="lead animated bounceInRight" style="text-align: center;">Mapa del Producto {{mapaProd}}</p>
    <hr class="my-4">
    <!--<div id="mapaProducto">-->
    <!--<div class="container">-->
    <!--<sebm-google-map [latitude]=p.lat [longitude]=p.lng [scrollwheel]="false" [zoom]=4>
        <sebm-google-map-marker [latitude]=p.lat [longitude]=p.lng></sebm-google-map-marker>
      </sebm-google-map>
    </div>-->
    <!--<div style="border:2px solid black">
        <sebm-google-map [latitude]=latMap [longitude]=lngMap [scrollwheel]="false">
          <sebm-google-map-marker [latitude]=latMap [longitude]=lngMap></sebm-google-map-marker>
        </sebm-google-map>
      </div>-->

    <!--<sebm-google-map [latitude]=-34.829074 [longitude]=-58.4043129>
          <sebm-google-map-marker [latitude]=-34.829074 [longitude]=-58.4043129></sebm-google-map-marker>
      </sebm-google-map>-->
    <!--<sebm-google-map [latitude]="latMap" [longitude]="lngMap">
        <sebm-google-map-marker [latitude]="latMap" [longitude]="lngMap"></sebm-google-map-marker>
      </sebm-google-map>-->

    <!--<agm-map [latitude]="latMap" [longitude]="lngMap">
        <agm-marker [latitude]="latMap" [longitude]="lngMap"></agm-marker>
      </agm-map>-->

    <!--<div class='agm-map-content'>
      <agm-map [latitude]="latMap" [longitude]="lngMap" [zoom]="zoom"></agm-map>
    </div>-->
    <agm-map [latitude]="latMap" [longitude]="lngMap" [zoom]="zoom">
      <agm-marker [latitude]="latMap" [longitude]="lngMap"></agm-marker>
    </agm-map>
    <div style="text-align:center">
      <button class="btn btn-primary" (click)="volverAProductos()"><i class="material-icons">Volver a Productos</i></button>
    </div>
    <!--</div>-->
  </div>
</div>

<div id="OperacionesAnterioresCliente" style="display: none">
  <br>
  <h1 style="text-align: center;"> Operaciones Anteriores </h1><br>
</div>

<div id="ReservarCliente" style="display: none">
  <br>
  <div id="altaReservas" style="text-align: center;" style="display: none">
    <div class="jumbotron margin-top-10 margin-bot-10">
      <h1 class="display-3 animated bounceInRight" style="text-align: center;">Reserva Pendiente</h1>
      <!--<p class="lead animated animated bounceInRight">Acà podrás ver todos los usuarios registrados en la página.</p>-->
      <!--<div align="right" *ngIf="!error" ><a class="btn btn-success" [routerLink]="['/datosusuario','alta']"><i class="material-icons">person_add</i></a></div>-->
      <br>
      <hr class="my-4">
      <div class="form-group" style="text-align: center;">
        <label for="clienteProducto" style="text-align: center;">Cliente:</label>
        <input readonly="true" required type="text" style="text-align: center;" class="form-control" name="clienteProducto" [(ngModel)]="clienteProducto"
          id="clienteProducto">
      </div>

      <table class="table table-hover" *ngIf="!error">
        <thead class="thead-inverse">
          <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-info animated fadeIn">
            <th scope="row"><span class="badge badge-default badge-pill">{{nombreProducto}}</span></th>
            <!--<td><img src="./assets/img/usuarios/{{u.foto}}" style="width:100px"></td>-->
            <td>{{direccionProducto}}</td>
            <td>{{tipoProducto}}</td>
          </tr>
        </tbody>
      </table>

      <!--Si no hay datos-->
      <div *ngIf="error">
        <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
        <div class="alert alert-danger" role="alert">
          <strong>404</strong> Error de servidor.
        </div>
      </div>
    </div>

    <form>
      <div class="form-group" style="text-align: center;" *ngIf="tipoProducto=='Alquiler'">
        <label for="fechaDesdeProducto" style="text-align: center;">Fecha Desde:</label>
        <input required type="date" style="text-align: center;" class="form-control" name="fechaDesdeProducto" [(ngModel)]="fechaDesdeProducto"
          id="fechaDesdeProducto">
      </div>
      <div class="form-group" style="text-align: center;" *ngIf="tipoProducto=='Alquiler'">
        <label for="fechaHastaProducto" style="text-align: center;">Fecha Hasta:</label>
        <input required type="date" style="text-align: center;" class="form-control" name="fechaHastaProducto" [(ngModel)]="fechaHastaProducto"
          id="fechaHastaProducto">
      </div>

      <div style="text-align: center;">
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="GuardarReserva()">Guardar</button>
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="CancelarReserva()">Cancelar</button>
      </div>
    </form>
  </div>



  <div style="text-align: center;">
    <spinner-component [spinnerShow]="show">
      <div class="spinner-2">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </spinner-component>
    <sk-fading-circle *ngIf="show"></sk-fading-circle>
    <div class="jumbotron margin-top-10 margin-bot-10">
      <h1 class="display-3 animated bounceInRight">Historial de sus reservas</h1>
      <hr class="my-4">

      <table class="table table-hover" *ngIf="!error">
        <thead class="thead-inverse">
          <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Tipo</th>
            <th>Fecha Desde</th>
            <th>Fecha Hasta</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hr of reservas" class="table-info animated fadeIn">
            <th scope="row"><span class="badge badge-default badge-pill">{{hr.nombre}}</span></th>
            <td>{{hr.direccion}}</td>
            <td>{{hr.tipoProducto}}</td>
            <td>{{hr.fechaDesde}}</td>
            <td>{{hr.fechaHasta}}</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="error">
        <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
        <div class="alert alert-danger" role="alert">
          <strong>404</strong> Error de servidor.
        </div>
      </div>
    </div>
  </div>

</div>