
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" (click)="MostrarEmpleados()">Empleados</a>
      <a class="navbar-brand" (click)="MostrarClientes()">Clientes</a>
      <li><a class="navbar-brand" (click)="MostrarProductos()">Productos</a></li>
      <!--<li><a class="navbar-brand" (click)="MostrarOfertas()">Ofertas</a></li>-->
      <!--<li><a class="navbar-brand" (click)="MostrarProductos()">Productos</a></li>-->
      <li><a class="navbar-brand" (click)="MostrarUsuarios()">Usuarios</a></li>
      <li><a class="navbar-brand" (click)="MostrarLocales()">Locales</a></li>
      <li><a class="navbar-brand" (click)="MostrarReservas()">Reservas</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Desloguearme</a></li>        
    </ul>
  </div>
</nav>


<p>
  encargados!
  <br>
  2- tiene la opción de dar de altas empleado, clientes, producto u ofertas, pedidos. <br>
  3- Puede cambiar el estado de un usuario para que no ingrese más al sistema. <br>
  4- modifica los datos del local. 
</p>


<br>
<div id="ClientesEncargado" style="display: none">
 <div id="altaClientesEncargado" style="display: none">
    <form>
      <h1 style="text-align: center;"> Clientes </h1><br>
      <div class="form-group" style="text-align: center;">
        <label for="idClienteEncargado" style="text-align: center;">ID:</label>
        <input readonly="true" type="text" style="text-align: center;" class="form-control" name="idClienteEncargado" [(ngModel)]="idClienteEncargado" id="idClienteEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="nombreClienteEncargado" style="text-align: center;">Nombre:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="nombreClienteEncargado" [(ngModel)]="nombreClienteEncargado" id="nombreClienteEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="mailClienteEncargado" style="text-align: center;">Mail:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="mailClienteEncargado" [(ngModel)]="mailClienteEncargado" id="mailClienteEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="telefonoClienteEncargado" style="text-align: center;">Teléfono:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="telefonoClienteEncargado" [(ngModel)]="telefonoClienteEncargado" id="telefonoClienteEncargado">
      </div>      
      <div class="form-group" style="text-align: center;">
        <label for="direccionClienteEncargado" style="text-align: center;">Dirección:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="direccionClienteEncargado" [(ngModel)]="direccionClienteEncargado" id="direccionClienteEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="usuarioLoginClienteEmpleado" style="text-align: center;">Usuario Login:</label><br>
        <select name="usuarioLoginClienteEmpleado" [(ngModel)]="usuarioLoginClienteEmpleado" id="usuarioLoginClienteEmpleado">
          <option *ngFor="let u of usuariosClientes" [value]="u.usuario">{{u.nombre}}</option>         
        </select>
      </div>

      <div style="text-align: center;">
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="GuardarCliente()">Guardar</button>
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="CancelarCliente()">Cancelar</button>
      </div>
    </form>
  </div>

  <div style="text-align: center;">  
    <div class="jumbotron margin-top-10 margin-bot-10">
      <h1 class="display-3 animated bounceInRight">Listado de Clientes</h1>
      <!--<p class="lead animated animated bounceInRight">Acà podrás ver todos los usuarios registrados en la página.</p>-->
      <!--<div align="right" *ngIf="!error" ><a class="btn btn-success" [routerLink]="['/datosusuario','alta']"><i class="material-icons">person_add</i></a></div>-->
      <div align="right" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="altaCliente()">Agregar Cliente</i></a></div>
      <hr class="my-4">

      <table class="table table-hover" *ngIf="!error">
        <thead class="thead-inverse">
          <tr>
            <th>Nombre</th>
            <th>Mail</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Usuario Login</th>
            <!--<th>Acciones</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of clientes" class="table-info animated fadeIn">
            <th scope="row"><span class="badge badge-default badge-pill">{{c.nombre}}</span></th>
            <!--<td><img src="./assets/img/usuarios/{{u.foto}}" style="width:100px"></td>-->
            <td>{{c.mail}}</td>
            <td>{{c.telefono}}</td>
            <td>{{c.direccion}}</td>
            <td>{{c.idUsuario}}</td>
       
            <td>              
              <button class="btn btn-primary" (click)="mostrarCliente(c.ID, c.nombre,c.mail,c.telefono, c.direccion, c.idUsuario)"><i class="material-icons">Modificar</i></button>
              <button class="btn btn-danger" (click)="deleteCliente(c.ID)"><i class="material-icons">Borrar</i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <!--Si no hay datos-->
      <div *ngIf="error">
        <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
        <div class="alert alert-danger" role="alert">
          <strong>404</strong> Error de servidor.
        </div>
      </div>
    </div>
  </div>
</div>

<div id="ProductosEncargado" style="display: none">
 <div id="altaProductosEncargado" style="display: none">
    <br>
    <form>
      <h1 style="text-align: center;"> Productos </h1><br>
      <div class="form-group" style="text-align: center;">
        <label for="idProductoEncargado" style="text-align: center;">ID:</label>
        <input readonly="true" type="text" style="text-align: center;" class="form-control" name="idProductoEncargado" [(ngModel)]="idProductoEncargado" id="idProductoEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="nombreProductoEncargado" style="text-align: center;">Nombre:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="nombreProductoEncargado" [(ngModel)]="nombreProductoEncargado" id="nombreProductoEncargado">
      </div>   
      <div class="form-group" style="text-align: center;">
        <label for="descripcionProductoEncargado" style="text-align: center;" >Descripción:</label>
        <input type="text" style="text-align: center;" class="form-control" name="descripcionProductoEncargado" [(ngModel)]="descripcionProductoEncargado" id="descripcionProductoEncargado">
      </div>   
      <!--<div class="form-group" style="text-align: center;">
        <label for="direccionProductoEncargado" style="text-align: center;">Direccion:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="direccionProductoEncargado" [(ngModel)]="direccionProductoEncargado" id="direccionProductoEncargado">
      </div>   -->


    <!--<div class="container">-->
      <div class="form-group">
        <label for="direccionProductoEncargado" style="text-align: center;">Direccion:</label>
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" name="direccionProductoEncargado" [(ngModel)]="direccionProductoEncargado" id="direccionProductoEncargado">
      </div>
      <!--<sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
      </sebm-google-map>-->
    <!--</div>-->


      <div class="form-group" style="text-align: center;">
        <label for="tipoProductoEncargado" style="text-align: center;">Tipo:</label>
        <select required name="tipoProductoEncargado" [(ngModel)]="tipoProductoEncargado" id="tipoProductoEncargado">
        <option [value]="''" selected>Elija tipo</option>
        <option [value]="'Venta'">Venta</option>
        <option [value]="'Alquiler'">Alquiler</option>
        </select>      
      <!-- <input type="text" style="text-align: center;" class="form-control" id="tipoUsuarioEncargado">-->
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="vDesdeProductoEncargado" style="text-align: center;" >Vigencia Desde:</label>
        <input type="date" style="text-align: center;" class="form-control" name="vDesdeProductoEncargado" [(ngModel)]="vDesdeProductoEncargado" id="vDesdeProductoEncargado">
      </div>    
      <div class="form-group" style="text-align: center;">
        <label for="vHastaProductoEncargado" style="text-align: center;" >Vigencia Desde:</label>
        <input type="date" style="text-align: center;" class="form-control" name="vHastaProductoEncargado" [(ngModel)]="vHastaProductoEncargado" id="vHastaProductoEncargado">
      </div>            
      <div class="form-group" style="text-align: center;">
        <label for="monedaProductoEncargado" style="text-align: center;">Moneda:</label>
        <select required name="monedaProductoEncargado" [(ngModel)]="monedaProductoEncargado" id="monedaProductoEncargado">
        <option [value]="''" selected>Elija moneda</option>
        <option [value]="'Pesos'">Pesos</option>
        <option [value]="'Dolares'">Dolares</option>
        <option [value]="'Euros'">Euros</option>
        </select>      
      <!-- <input type="text" style="text-align: center;" class="form-control" id="tipoUsuarioEncargado">-->
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="precioProductoEncargado" style="text-align: center;" >Precio:</label>
        <input type="numeric" style="text-align: center;" class="form-control" name="precioProductoEncargado" [(ngModel)]="precioProductoEncargado" id="precioProductoEncargado">
      </div>

    <div class="form-group">
      <label class="control-label col-sm-2"><b>Imagen:</b></label>
        <div ng2FileDrop
              [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
              (fileOver)="fileOverBase($event)"
              [uploader]="uploader"
              class="well my-drop-zone">
            Arroja aquì tu imagen
            <div *ngFor="let item of uploader.queue">
            {{ item?.file?.name }}
            </div>
        </div>
    </div>
    <div align="center" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="subirImagenes()">Subir Imagenes</i></a></div>      
    
    <br>
    <br>
    <table style="width:100%">
      <tr style="width: 30%">

      </tr>
      <tr style="width: 30%">
        <!--<div style="width: 50%" align="center">-->
          <div align="center">
          <carousel>
            <slide>
              <img class="itemCarousel" src="http://nfranzeseutn.hol.es/miAPIRest/fotos/{{foto1ProductoEncargado}}">
            </slide>
            <slide>
              <img class="itemCarousel" src="http://nfranzeseutn.hol.es/miAPIRest/fotos/{{foto2ProductoEncargado}}">
            </slide>
            <slide>
              <img class="itemCarousel" src="http://nfranzeseutn.hol.es/miAPIRest/fotos/{{foto3ProductoEncargado}}">
            </slide>
          </carousel>
        </div>
      </tr> 
      <tr style="width: 30%">

      </tr>
    </table>
<br>
<br>
      <div style="text-align: center;">
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="GuardarProducto()">Guardar</button>
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="CancelarProducto()">Cancelar</button>
      </div>
    </form>
  </div>

  <div id="altaLocalesProductosEncargado" style="display: none">
        <br>
        <div id="formularioAltaLocal">
          <form align="center">          
            <div class="form-group" style="text-align: center;">
              <label for="LocalProductoEncargado" style="text-align: center;">Elija Local a agregar:</label><br>
              <select name="LocalProductoEncargado" [(ngModel)]="LocalProductoEncargado" id="LocalProductoEncargado">
                <option *ngFor="let l of locales" [value]="l.ID">{{l.nombre}}</option>         
              </select>
            </div>
     
            <br>
            <div style="text-align: center;">
              <!--<button type="submit" class="btn btn-default" style="text-align: center;" (click)="GuardarLocalProducto(idProductoLocal, LocalProductoEncargado)" >Guardar</button>-->
              <button type="submit" class="btn btn-default" style="text-align: center;" (click)="GuardarLocalProducto()" >Guardar</button>
              <button type="submit" class="btn btn-default" style="text-align: center;" (click)="CerrarLocalProducto()">Cerrar</button>        
            </div>
          </form>
        </div>  

        <div style="text-align: center;">  
          <div class="jumbotron margin-top-10 margin-bot-10">
            <h2 class="display-3 animated bounceInRight">Listado de locales Asociados al producto {{productoLocal}}</h2>
            <!--<p class="lead animated animated bounceInRight">Acà podrás ver todos los usuarios registrados en la página.</p>-->
            <!--<div align="right" *ngIf="!error" ><a class="btn btn-success" [routerLink]="['/datosusuario','alta']"><i class="material-icons">person_add</i></a></div>-->
            <!--<div align="right" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="altaLocalProducto()">Agregar Local</i></a></div>-->
            <hr class="my-4">

            <table class="table table-hover" *ngIf="!error">
              <thead class="thead-inverse">
                <tr>
                  <th>Nombre</th>
                  <th>Direccion</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lp of localesProductos" class="table-info animated fadeIn">
                  <!--<td><img src="./assets/img/usuarios/{{u.foto}}" style="width:100px"></td>-->            
                  <td>{{lp.nombre}}</td>
                  <td>{{lp.direccion}}</td>                  
                  <td>              
                    <button class="btn btn-danger" (click)="deleteLocalProducto(lp.ID)"><i class="material-icons">Borrar</i></button>                  
                  </td>
                </tr>
              </tbody>
            </table>

            <!--Si no hay datos-->
            <div *ngIf="error">
              <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
              <div class="alert alert-danger" role="alert">
                <strong>404</strong> Error de servidor.
              </div>
            </div>
          </div>
        </div>
                
      </div>  

  <div style="text-align: center;">  
    <div class="jumbotron margin-top-10 margin-bot-10">
      <h1 class="display-3 animated bounceInRight">Listado de Productos</h1>
      <!--<p class="lead animated animated bounceInRight">Acà podrás ver todos los usuarios registrados en la página.</p>-->
      <!--<div align="right" *ngIf="!error" ><a class="btn btn-success" [routerLink]="['/datosusuario','alta']"><i class="material-icons">person_add</i></a></div>-->
      <div align="right" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="altaProducto()">Agregar Producto</i></a></div>
      <hr class="my-4">

      <table class="table table-hover" *ngIf="!error">
        <thead class="thead-inverse">
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Direccion</th>
            <th>Tipo</th>
            <th>Vigencia Desde</th>
            <th>Vigencia Hasta</th>
            <th>Moneda</th>
            <th>Precio</th>
            <th>Detalles</th>
            <th>Acciones</th>            
            <!--<th>Acciones</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of productos" class="table-info animated fadeIn">
            <th scope="row"><span class="badge badge-default badge-pill">{{p.nombre}}</span></th>
            <!--<td><img src="./assets/img/usuarios/{{u.foto}}" style="width:100px"></td>-->            
            <td>{{p.descripcion}}</td>
            <td>{{p.direccion}}</td>
            <td>{{p.tipo}}</td>
            <td>{{p.vDesde}}</td>
            <td>{{p.vHasta}}</td>
            <td>{{p.moneda}}</td>
            <td>{{p.precio}}</td>       
            <td>              
              <button class="btn btn-warning" (click)="agregarLocales(p.ID, p.nombre)"><i class="material-icons">Locales</i></button>                                    
            </td>                 
            <td>              
              <button class="btn btn-primary" (click)="mostrarProducto(p.ID, p.nombre, p.descripcion,p.direccion, p.tipo,p.vDesde, p.vHasta, p.foto1, p.foto2, p.foto3, p.moneda, p.precio)"><i class="material-icons">Modificar</i></button>
              <button class="btn btn-danger" (click)="deleteProducto(p.ID)"><i class="material-icons">Borrar</i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <!--Si no hay datos-->
      <div *ngIf="error">
        <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
        <div class="alert alert-danger" role="alert">
          <strong>404</strong> Error de servidor.
        </div>
      </div>
    </div>
  </div>

</div>

<div id="OfertasEncargado" style="display: none">
 <div id="altaOfertasEncargado" style="display: none">
    <br>
    <form>
      <h1 style="text-align: center;"> Ofertas </h1><br>
      <div class="form-group" style="text-align: center;">
        <label for="idOfertaEncargado" style="text-align: center;">ID:</label>
        <input readonly="true" type="text" style="text-align: center;" class="form-control" name="idOfertaEncargado" [(ngModel)]="idOfertaEncargado" id="idOfertaEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="nombreOfertaEncargado" style="text-align: center;">Nombre:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="nombreOfertaEncargado" [(ngModel)]="nombreOfertaEncargado" id="nombreOfertaEncargado">
      </div>   
      <div class="form-group" style="text-align: center;">
        <label for="descripcionOfertaEncargado" style="text-align: center;" >Descripción:</label>
        <input type="text" style="text-align: center;" class="form-control" name="descripcionOfertaEncargado" [(ngModel)]="descripcionOfertaEncargado" id="descripcionOfertaEncargado">
      </div>   
      <div class="form-group" style="text-align: center;">
        <label for="monedaOfertaEncargado" style="text-align: center;">Moneda:</label>
        <select required name="monedaOfertaEncargado" [(ngModel)]="monedaOfertaEncargado" id="monedaOfertaEncargado">
        <option [value]="''" selected>Elija moneda</option>
        <option [value]="'Pesos'">Pesos</option>
        <option [value]="'Dolares'">Dolares</option>
        <option [value]="'Euros'">Euros</option>
        </select>      
      <!-- <input type="text" style="text-align: center;" class="form-control" id="tipoUsuarioEncargado">-->
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="precioOfertaEncargado" style="text-align: center;" >Precio:</label>
        <input type="numeric" style="text-align: center;" class="form-control" name="precioOfertaEncargado" [(ngModel)]="precioOfertaEncargado" id="precioOfertaEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="tipoOfertaEncargado" style="text-align: center;">Tipo:</label>
        <select required name="tipoOfertaEncargado" [(ngModel)]="tipoOfertaEncargado" id="tipoOfertaEncargado">
        <option [value]="''" selected>Elija Tipo</option>
        <option [value]="'Alquiler'">Alquiler</option>
        <option [value]="'Venta'">Venta</option>
        </select>      
      <!-- <input type="text" style="text-align: center;" class="form-control" id="tipoUsuarioEncargado">-->
      </div>      

<br>
<br>
      <div style="text-align: center;">
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="GuardarOferta()">Guardar</button>
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="CancelarOferta()">Cancelar</button>
      </div>
    </form>
  </div>

  <div id="altaProductosOfertasEncargado" style="display: none">
        <br>
        <div id="formularioAltaProductoOferta">
          
          <form align="center">          
            <div class="form-group" style="text-align: center;">
              <label for="ProductoOfertaEncargado" style="text-align: center;">Elija Producto a agregar:</label><br>
              <select name="ProductoOfertaEncargado" [(ngModel)]="ProductoOfertaEncargado" id="ProductoOfertaEncargado">
                <option *ngFor="let p of productos" [value]="p.ID">{{p.nombre}}</option>         
              </select>
            </div>
     
            <br>
            <div style="text-align: center;">
              <button type="submit" class="btn btn-default" style="text-align: center;" (click)="AddProductoOferta()">Guardar</button>
              <!--<button type="submit" class="btn btn-default" style="text-align: center;" (click)="AgregarProductoOferta()" >Guardar</button>-->
              <button type="submit" class="btn btn-default" style="text-align: center;" (click)="CerrarProductoOferta()">Cerrar</button>        
            </div>
          </form>
        </div>  

        <div style="text-align: center;">  
          <div class="jumbotron margin-top-10 margin-bot-10">
            <h2 class="display-3 animated bounceInRight">Listado de productos Asociados a la oferta {{ofertaProducto}}</h2>
            <!--<p class="lead animated animated bounceInRight">Acà podrás ver todos los usuarios registrados en la página.</p>-->
            <!--<div align="right" *ngIf="!error" ><a class="btn btn-success" [routerLink]="['/datosusuario','alta']"><i class="material-icons">person_add</i></a></div>-->
            <!--<div align="right" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="altaLocalProducto()">Agregar Local</i></a></div>-->
            <hr class="my-4">

            <table class="table table-hover" *ngIf="!error">
              <thead class="thead-inverse">
                <tr>
                  <th>Nombre</th>
                  <!--<th>Direccion</th>-->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of ProductosOfertas" class="table-info animated fadeIn">
                  <!--<td><img src="./assets/img/usuarios/{{u.foto}}" style="width:100px"></td>-->            
                  <td>{{p.nombre}}</td>
                  <!--<td>{{p.direccion}}</td>                  -->
                  <td>              
                    <button class="btn btn-danger" (click)="deleteProductoOferta(p.ID)"><i class="material-icons">Borrar</i></button>                  
                  </td>
                </tr>
              </tbody>
            </table>

            <!--Si no hay datos-->
            <div *ngIf="error">
              <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
              <div class="alert alert-danger" role="alert">
                <strong>404</strong> Error de servidor.
              </div>
            </div>
          </div>
        </div>
                
      </div>  

  <div style="text-align: center;">  
    <div class="jumbotron margin-top-10 margin-bot-10">
      <h1 class="display-3 animated bounceInRight">Listado de Ofertas</h1>
      <!--<p class="lead animated animated bounceInRight">Acà podrás ver todos los usuarios registrados en la página.</p>-->
      <!--<div align="right" *ngIf="!error" ><a class="btn btn-success" [routerLink]="['/datosusuario','alta']"><i class="material-icons">person_add</i></a></div>-->
      <div align="right" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="altaOferta()">Agregar Oferta</i></a></div>
      <hr class="my-4">

      <table class="table table-hover" *ngIf="!error">
        <thead class="thead-inverse">
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Moneda</th>
            <th>Precio</th>
            <th>Tipo</th>
            <th>Detalles</th>
            <th>Acciones</th>            
            <!--<th>Acciones</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of ofertas" class="table-info animated fadeIn">
            <th scope="row"><span class="badge badge-default badge-pill">{{o.nombre}}</span></th>
            <!--<td><img src="./assets/img/usuarios/{{u.foto}}" style="width:100px"></td>-->            
            <td>{{o.descripcion}}</td>
            <td>{{o.moneda}}</td>
            <td>{{o.precio}}</td>  
            <td>{{o.tipo}}</td>  
            <td>              
              <button class="btn btn-warning" (click)="agregarProductosOferta(o.ID, o.nombre)"><i class="material-icons">Productos</i></button>                                    
            </td>                 
            <td>              
              <button class="btn btn-primary" (click)="mostrarOferta(o.ID, o.nombre, o.descripcion, o.moneda, o.precio, o.tipo)"><i class="material-icons">Modificar</i></button>
              <button class="btn btn-danger" (click)="deleteOferta(o.ID)"><i class="material-icons">Borrar</i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <!--Si no hay datos-->
      <div *ngIf="error">
        <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
        <div class="alert alert-danger" role="alert">
          <strong>404</strong> Error de servidor.
        </div>
      </div>
    </div>
  </div>

</div>

<div id="LocalesEncargado" style="display: none">
 <div id="altaLocalesEncargado" style="display: none">
    <form>
      <h1 style="text-align: center;"> Locales </h1><br>
      <div class="form-group" style="text-align: center;">
        <label for="idLocalEncargado" style="text-align: center;">ID:</label>
        <input readonly="true" type="text" style="text-align: center;" class="form-control" name="idLocalEncargado" [(ngModel)]="idLocalEncargado" id="idLocalEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="nombreLocalEncargado" style="text-align: center;">Nombre:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="nombreLocalEncargado" [(ngModel)]="nombreLocalEncargado" id="nombreLocalEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="direccionLocalEncargado" style="text-align: center;">Dirección:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="direccionLocalEncargado" [(ngModel)]="direccionLocalEncargado" id="direccionLocalEncargado">
      </div>
      <!--<div class="form-group" style="text-align: center;">
        <label for="encargadoLocalEncargado" style="text-align: center;">Encargado:</label><br>
        <select readonly="true" name="encargadoLocalEncargado" [(ngModel)]="encargadoLocalEncargado" id="encargadoLocalEncargado">
          <option *ngFor="let u of usuariosEncargados" [value]="u.usuario">{{u.nombre}}</option>         
        </select>
      </div>-->

    <div class="form-group">
      <label class="control-label col-sm-2"><b>Imagen:</b></label>
        <div ng2FileDrop
              [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
              (fileOver)="fileOverBase($event)"
              [uploader]="uploaderLocal"
              class="well my-drop-zone">
            Arroja aquì tu imagen
            <div *ngFor="let item of uploaderLocal.queue">
            {{ item?.file?.name }}
            </div>
        </div>
    </div>
    <div align="center" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="subirImagenesLocal()">Subir Imagenes</i></a></div>      
    
    <br>
    <br>
    <table style="width:100%">
      <tr style="width: 30%">

      </tr>
      <tr style="width: 30%">
        <!--<div style="width: 50%" align="center">-->
          <div align="center">
          <carousel>
            <slide>
              <img class="itemCarousel" src="http://nfranzeseutn.hol.es/miAPIRest/fotos/{{foto1LocalEncargado}}">
            </slide>
            <slide>
              <img class="itemCarousel" src="http://nfranzeseutn.hol.es/miAPIRest/fotos/{{foto2LocalEncargado}}">
            </slide>
            <slide>
              <img class="itemCarousel" src="http://nfranzeseutn.hol.es/miAPIRest/fotos/{{foto3LocalEncargado}}">
            </slide>
          </carousel>
        </div>
      </tr> 
      <tr style="width: 30%">

      </tr>
    </table>

      <div style="text-align: center;">
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="GuardarLocal()">Guardar</button>
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="CancelarLocal()">Cancelar</button>
      </div>
    </form>
  </div>

  <div id="altaEmpleadosLocalesEncargado" style="display: none">
        <br>
        <div id="formularioAltaEmpleadoLocal">
          <form align="center">          
            <div class="form-group" style="text-align: center;">
              <label for="EmpleadoLocalEncargado" style="text-align: center;">Elija Empleado a agregar:</label><br>
              <select name="EmpleadoLocalEncargado" [(ngModel)]="EmpleadoLocalEncargado" id="EmpleadoLocalEncargado">
                <option *ngFor="let e of empleados" [value]="e.ID">{{e.nombre}}</option>         
              </select>
            </div>
     
            <br>
            <div style="text-align: center;">
              <!--<button type="submit" class="btn btn-default" style="text-align: center;" (click)="GuardarLocalProducto(idProductoLocal, LocalProductoEncargado)" >Guardar</button>-->
              <button type="submit" class="btn btn-default" style="text-align: center;" (click)="AddEmpleadoLocal()" >Guardar</button>
              <button type="submit" class="btn btn-default" style="text-align: center;" (click)="CerrarEmpleadoLocal()">Cerrar</button>        
            </div>
          </form>
        </div>  

        <div style="text-align: center;">  
          <div class="jumbotron margin-top-10 margin-bot-10">
            <h2 class="display-3 animated bounceInRight">Listado de empleados asociados al local {{localEmpleado}}</h2>
            <!--<p class="lead animated animated bounceInRight">Acà podrás ver todos los usuarios registrados en la página.</p>-->
            <!--<div align="right" *ngIf="!error" ><a class="btn btn-success" [routerLink]="['/datosusuario','alta']"><i class="material-icons">person_add</i></a></div>-->
            <!--<div align="right" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="altaLocalProducto()">Agregar Local</i></a></div>-->
            <hr class="my-4">

            <table class="table table-hover" *ngIf="!error">
              <thead class="thead-inverse">
                <tr>
                  <th>Nombre</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let el of empleadosLocales" class="table-info animated fadeIn">
                  <!--<td><img src="./assets/img/usuarios/{{u.foto}}" style="width:100px"></td>-->            
                  <td>{{el.nombre}}</td>
                  <td>              
                    <button class="btn btn-danger" (click)="deleteEmpleadoLocal(el.ID)"><i class="material-icons">Borrar</i></button>                  
                  </td>
                </tr>
              </tbody>
            </table>

            <!--Si no hay datos-->
            <div *ngIf="error">
              <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
              <div class="alert alert-danger" role="alert">
                <strong>404</strong> Error de servidor.
              </div>
            </div>
          </div>
        </div>
                
      </div>  


  <div style="text-align: center;">  
    <div class="jumbotron margin-top-10 margin-bot-10">
      <h1 class="display-3 animated bounceInRight">Listado de Locales</h1>
      <!--<p class="lead animated animated bounceInRight">Acà podrás ver todos los usuarios registrados en la página.</p>-->
      <!--<div align="right" *ngIf="!error" ><a class="btn btn-success" [routerLink]="['/datosusuario','alta']"><i class="material-icons">person_add</i></a></div>-->
      <!--<div align="right" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="altaLocal()">Agregar Local</i></a></div>-->
      <hr class="my-4">

      <table class="table table-hover" *ngIf="!error">
        <thead class="thead-inverse">
          <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Detalles</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of locales" class="table-info animated fadeIn">
            <th scope="row"><span class="badge badge-default badge-pill">{{l.nombre}}</span></th>
            <!--<td><img src="./assets/img/usuarios/{{u.foto}}" style="width:100px"></td>-->
            <td>{{l.direccion}}</td>
         
            <td>
              <button class="btn btn-warning" (click)="agregarEmpleadosLocal(l.ID, l.nombre)"><i class="material-icons">Empleados</i></button>                                    
            </td>
            <td>                            
              <button class="btn btn-primary" (click)="mostrarLocal(l.ID, l.nombre, l.direccion, l.idEncargado, l.foto1, l.foto2, l.foto3)"><i class="material-icons">Modificar</i></button>
              <!--<button class="btn btn-danger" (click)="deleteLocal(l.ID)"><i class="material-icons">Borrar</i></button>-->
            </td>
          </tr>
        </tbody>
      </table>

      <!--Si no hay datos-->
      <div *ngIf="error">
        <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
        <div class="alert alert-danger" role="alert">
          <strong>404</strong> Error de servidor.
        </div>
      </div>
    </div>
  </div>

</div>

<div id="UsuariosEncargado" style="display: none">
  <div id="altaUsuariosEncargado" style="display: none">
    <br>
    <form>
      <h1 style="text-align: center;"> Usuarios </h1><br>
      <div class="form-group" style="text-align: center;">
        <label for="idUsuarioEncargado" style="text-align: center;">ID:</label>
        <input readonly="true" type="text" style="text-align: center;" class="form-control" name="idUsuarioEncargado" [(ngModel)]="idUsuarioEncargado" id="idUsuarioEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="nombreUsuarioEncargado" style="text-align: center;">Nombre y apellido:</label>
        <input readonly="true" required type="text" style="text-align: center;" class="form-control" name="nombreUsuarioEncargado" [(ngModel)]="nombreUsuarioEncargado" id="nombreUsuarioEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="usuarioUsuarioEncargado" style="text-align: center;">Usuario Login:</label>
        <input readonly="true" required type="text" style="text-align: center;" class="form-control" name="usuarioUsuarioEncargado" [(ngModel)]="usuarioUsuarioEncargado" id="usuarioUsuarioEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="passwordUsuarioEncargado" style="text-align: center;" >Password:</label>
        <input readonly="true" type="password" style="text-align: center;" class="form-control" name="passwordUsuarioEncargado" [(ngModel)]="passwordUsuarioEncargado" id="passwordUsuarioEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="tipoUsuarioEncargado" style="text-align: center;">Tipo usuario:</label>
        <select readonly="true" required name="tipoUsuarioEncargado" [(ngModel)]="tipoUsuarioEncargado" id="tipoUsuarioEncargado">
          <option [value]="''" selected>Elija un tipo de Usuario</option>
          <option [value]="'Administrador'">Administrador</option>
          <option [value]="'Encargado'">Encargado</option>
          <option [value]="'Cliente'">Cliente</option>
          <option [value]="'Empleado'">Empleado</option>
        </select>
       
       <!-- <input type="text" style="text-align: center;" class="form-control" id="tipoUsuarioEncargado">-->
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="estadoUsuarioEncargado" style="text-align: center;" >Estado:</label>
        <input type="checkbox" style="text-align: center;" class="form-control" name="estadoUsuarioEncargado" [(ngModel)]="estadoUsuarioEncargado" id="estadoUsuarioEncargado">
      </div>
      <div style="text-align: center;">
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="GuardarUsuario()">Guardar</button>
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="CancelarUsuario()">Cancelar</button>
      </div>
    </form>
  </div>

  <div style="text-align: center;">  
    <div class="jumbotron margin-top-10 margin-bot-10">
      <h1 class="display-3 animated bounceInRight">Listado de usuarios</h1>
      <!--<p class="lead animated animated bounceInRight">Acà podrás ver todos los usuarios registrados en la página.</p>-->
      <!--<div align="right" *ngIf="!error" ><a class="btn btn-success" [routerLink]="['/datosusuario','alta']"><i class="material-icons">person_add</i></a></div>-->
      <hr class="my-4">
      <table class="table table-hover" *ngIf="!error">
        <thead class="thead-inverse">
          <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Password</th>
            <th>Tipo</th>
            <th>Estado</th>
            <!--<th>Acciones</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of usuarios" class="table-info animated fadeIn">
            <th scope="row"><span class="badge badge-default badge-pill">{{u.usuario}}</span></th>
            <!--<td><img src="./assets/img/usuarios/{{u.foto}}" style="width:100px"></td>-->
            <td>{{u.nombre}}</td>
            <td>
              <h3><span type="password">{{u.password}}</span></h3>
            </td>
            <td>
              <h3><span>{{u.tipo}}</span></h3>
            </td>
            <td>
              <h3><span>{{u.estado}}</span></h3>
            </td>
            <!--<td>
              <div *ngIf="u.estado == 'activo'"><h5><span class="badge badge-success">{{u.estado}}</span></h5></div>
              <div *ngIf="u.estado == 'bloqueado'"><h5><span class="badge badge-danger">{{u.estado}}</span></h5></div>
            </td>-->
            <td>
              <!--<a class="btn btn-primary" [routerLink]="['/datosusuario',u.id]"><i class="material-icons">mode_edit</i></a>-->
              <!--<button class="btn btn-warning" (click)="CambiarEstado(u.id)"><i class="material-icons">do_not_disturb_alt</i></button>-->
              <button class="btn btn-primary" (click)="mostrarUsuario(u.ID, u.nombre, u.usuario, u.password, u.tipo, u.estado)"><i class="material-icons">Modificar</i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <!--Si no hay datos-->
      <div *ngIf="error">
        <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
        <div class="alert alert-danger" role="alert">
          <strong>404</strong> Error de servidor.
        </div>
      </div>
    </div>
  </div>
</div>

<div id="EmpleadosEncargado" style="display: none">
  <br>

 <div id="altaEmpleadosEncargado" style="display: none">
    <br>
    <form>
      <h1 style="text-align: center;"> Locales </h1><br>
      <div class="form-group" style="text-align: center;">
        <label for="idEmpleadoEncargado" style="text-align: center;">ID:</label>
        <input readonly="true" type="text" style="text-align: center;" class="form-control" name="idEmpleadoEncargado" [(ngModel)]="idEmpleadoEncargado" id="idEmpleadoEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="nombreEmpleadoEncargado" style="text-align: center;">Nombre:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="nombreEmpleadoEncargado" [(ngModel)]="nombreEmpleadoEncargado" id="nombreEmpleadoEncargado">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="direccionEmpleadoEncargado" style="text-align: center;">Dirección:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="direccionEmpleadoEncargado" [(ngModel)]="direccionEmpleadoEncargado" id="direccionEmpleadoEncargado">
      </div>
      
      <div class="form-group" style="text-align: center;">
        <label for="usuarioLoginEmpleadoEncargado" style="text-align: center;">Usuario Login:</label><br>
        <select name="usuarioLoginEmpleadoEncargado" [(ngModel)]="usuarioLoginEmpleadoEncargado" id="usuarioLoginEmpleadoEncargado">
          <option *ngFor="let u of usuariosEmpleados" [value]="u.usuario">{{u.nombre}}</option>         
        </select>
      </div>

      <div style="text-align: center;">
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="GuardarEmpleado()">Guardar</button>
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="CancelarEmpleado()">Cancelar</button>
      </div>
    </form>
  </div>

  <div style="text-align: center;">  
    <div class="jumbotron margin-top-10 margin-bot-10">
      <h1 class="display-3 animated bounceInRight">Listado de Empleados</h1>
      <!--<p class="lead animated animated bounceInRight">Acà podrás ver todos los usuarios registrados en la página.</p>-->
      <!--<div align="right" *ngIf="!error" ><a class="btn btn-success" [routerLink]="['/datosusuario','alta']"><i class="material-icons">person_add</i></a></div>-->
      <div align="right" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="altaEmpleado()">Agregar Empleado</i></a></div>
      <hr class="my-4">

      <table class="table table-hover" *ngIf="!error">
        <thead class="thead-inverse">
          <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Usuario Login</th>
            <!--<th>Acciones</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of empleados" class="table-info animated fadeIn">
            <th scope="row"><span class="badge badge-default badge-pill">{{e.nombre}}</span></th>
            <!--<td><img src="./assets/img/usuarios/{{u.foto}}" style="width:100px"></td>-->
            <td>{{e.direccion}}</td>       
            <td>{{e.idUsuario}}</td>
            <td>              
              <button class="btn btn-primary" (click)="mostrarEmpleado(e.ID, e.nombre, e.direccion, e.idUsuario)"><i class="material-icons">Modificar</i></button>
              <button class="btn btn-danger" (click)="deleteEmpleado(e.ID)"><i class="material-icons">Borrar</i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <!--Si no hay datos-->
      <div *ngIf="error">
        <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
        <div class="alert alert-danger" role="alert">
          <strong>404</strong> Error de servidor.
        </div>
      </div>
    </div>
  </div>

</div>