.itemCarousel {
      display: block;
      width: 300px;
      height: 300px;      
      align-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      overflow: hidden;
      margin: 0;
      background-position: center;
      background-repeat: non-repeat;
      background-size: cover;
    }
.sebm-google-map-container {
       height: 300px;
     }    