
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Empleados</a>
      <a class="navbar-brand" href="#">Clientes</a>
      <a class="navbar-brand" href="#">Productos</a>
      <a class="navbar-brand" href="#">Ofertas</a>
      <a class="navbar-brand" href="#">Pedidos</a>
      <a class="navbar-brand" href="#">Usuarios</a>
      <a class="navbar-brand" href="#">Locales</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Desloguearme</a></li>        
      </ul>
    </div>
</nav>


<p>
  encargados!
  <br>
  2- tiene la opción de dar de altas empleado, clientes, producto u ofertas, pedidos. <br>
  3- Puede cambiar el estado de un usuario para que no ingrese más al sistema. <br>
  4- modifica los datos del local. 

</p>
