<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" (click)="idBienvenida()">Inicio</a>
                <a class="navbar-brand" (click)="irLogin()">Login</a>
				<!--<a class="navbar-brand" href="/login">Acerca de...</a>-->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/login">Login</a>
                    </li>             
                </ul>
            </div>-->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	<div id="login">

		<h1><strong>Bienvenidos.</strong> Por Favor logueese</h1>

		<form>

			<fieldset>

				<p><input name="username" [(ngModel)]="username" id="username" type="text" required value="Username" onBlur="if(this.value=='')this.value='Username'" onFocus="if(this.value=='Username')this.value='' "></p> <!-- JS because of IE support; better: placeholder="Username" -->

				<p><input name="password" [(ngModel)]="password" id="password" type="password" required value="Password" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' "></p> <!-- JS because of IE support; better: placeholder="Password" -->

				<spinner-component [spinnerShow]="show">
					<div class="spinner-2">
					<div class="double-bounce1"></div>
					<div class="double-bounce2"></div>
					</div>
				</spinner-component> 				


    			<!--<sk-rotating-plane *ngIf="show"></sk-rotating-plane>-->
				<!--<sk-rotating-plane></sk-rotating-plane>-->
				<sk-fading-circle *ngIf="show"></sk-fading-circle>

				<p><input type="submit" value="Login" (click)="login()"></p>	
				<p><input type="submit" value="Registrarse" (click)="registrarse()"></p>
				<p><span class="btn-round">or</span></p>
				<div class="form-group" style="text-align: center;">
					<label style="text-align: center;">Tipo usuario Testeo:</label>
					<select name="tipoUsuarioLogin" [(ngModel)]="tipoUsuarioLogin" id="tipoUsuarioLogin" (change)="completarUsuario()">
					<option [value]="'administrador'">Administrador</option>
					<option [value]="'encargado'">Encargado</option>
					<option [value]="'cliente'">Cliente</option>
					<option [value]="'empleado'">Empleado</option>
					</select>
				</div>
				
				<!--<p><input type="submit" value="Login Test" (click)="loginTesteo()"></p>				-->

			</fieldset>
		</form>

		
<!--
		<p>

			<a class="facebook-before"><span class="fontawesome-facebook"></span></a>
			<button class="facebook">Login Using Facebook</button>

		</p>

		<p>

			<a class="twitter-before"><span class="fontawesome-twitter"></span></a>
			<button class="twitter">Login Using Twitter</button>

		</p>-->

	</div>



