<nav class="navbar navbar-fixed-top navbar-toggleable-sm navbar-inverse bg-primary flex-nowrap">

  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" (click)="idBienvenida()">Inicio</a></li>
      <li><a class="navbar-brand" (click)="irLogin()">Login</a></li>
    </ul>
  </div> 
     <div class="navbar-collapse collapse dual-nav">
        <ul class="nav navbar-nav ml-auto">        
        </ul>
    </div>   
</nav>

	<div id="login">

		<h1><strong>Bienvenidos.</strong> Por Favor logueese</h1>

		<form>

			<fieldset>

				<p><input name="username" [(ngModel)]="username" id="username" type="text" required value="Username" onBlur="if(this.value=='')this.value='Username'" onFocus="if(this.value=='Username')this.value='' "></p> <!-- JS because of IE support; better: placeholder="Username" -->

				<p><input name="password" [(ngModel)]="password" id="password" type="password" required value="Password" onBlur="if(this.value=='')this.value='Password'" onFocus="if(this.value=='Password')this.value='' "></p> <!-- JS because of IE support; better: placeholder="Password" -->

				<spinner-component [spinnerShow]="show">
					<div class="spinner-2">
					<div class="double-bounce1"></div>
					<div class="double-bounce2"></div>
					</div>
				</spinner-component> 				


    			<!--<sk-rotating-plane *ngIf="show"></sk-rotating-plane>-->
				<!--<sk-rotating-plane></sk-rotating-plane>-->
				<sk-fading-circle *ngIf="show"></sk-fading-circle>

				<p><input type="submit" value="Login" (click)="login()"></p>	
				<p><input type="submit" value="Registrarse" (click)="registrarse()"></p>
				<p><span class="btn-round">or</span></p>
				<div class="form-group" style="text-align: center;">
					<label style="text-align: center;">Tipo usuario Testeo:</label>
					<select name="tipoUsuarioLogin" [(ngModel)]="tipoUsuarioLogin" id="tipoUsuarioLogin" (change)="completarUsuario()">
					<option [value]="'administrador'">Administrador</option>
					<option [value]="'encargado'">Encargado</option>
					<option [value]="'cliente'">Cliente</option>
					<option [value]="'empleado'">Empleado</option>
					</select>
				</div>
				
				<!--<p><input type="submit" value="Login Test" (click)="loginTesteo()"></p>				-->

			</fieldset>
		</form>

		
<!--
		<p>

			<a class="facebook-before"><span class="fontawesome-facebook"></span></a>
			<button class="facebook">Login Using Facebook</button>

		</p>

		<p>

			<a class="twitter-before"><span class="fontawesome-twitter"></span></a>
			<button class="twitter">Login Using Twitter</button>

		</p>-->

	</div>



