
<nav class="navbar navbar-inverse">

  <div class="container-fluid">
    <ul class="nav navbar-nav">
    <!--<div class="navbar-header">-->
      <a class="navbar-brand" (click)="MostrarUsuarios()">Usuarios</a>
    <!--</div>-->
    
      <!--<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Locales<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a>Ver Locales</a></li>
          <li><a>Cargar Local</a></li>  
        </ul>
      </li>-->

      <li><a class="navbar-brand" (click)="MostrarLocales()">Locales</a></li>

      <li><a class="navbar-brand" (click)="MostrarEstadisticas()">Estadisticas corporativas</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Desloguearme</a></li>        
    </ul>
  </div>
</nav>


<p>
  administradores!
<br>
  1- Se encarga de crear locales y usuario de todo tipo. <br>
  2- Ve las estadísticas comparativas entre los locales. 
</p>
<br>
<div id="LocalesAdministrador" style="display: none">
  <br>
  <form>
    <h1 style="text-align: center;"> Local </h1><br>
    <div class="form-group" style="text-align: center;">
      <label for="nombreLocalAdministrador" style="text-align: center;">Nombre del Local:</label>
      <input type="text" style="text-align: center;" class="form-control" id="nombreLocalAdministrador">
    </div>
    <div class="form-group" style="text-align: center;">
      <label for="direccion" style="text-align: center;">Direccion:</label>
      <input type="text" style="text-align: center;" class="form-control" id="direccion">
    </div>
    <div class="form-group" style="text-align: center;">
      <label for="localidad" style="text-align: center;">Localidad:</label>
      <input type="text" style="text-align: center;" class="form-control" id="localidad">
    </div>
    <div class="form-group" style="text-align: center;">
      <label for="provincia" style="text-align: center;" >Provincia:</label>
      <input type="text" style="text-align: center;" class="form-control" id="provincia">
    </div>
    <div class="form-group" style="text-align: center;">
      <label for="pais" style="text-align: center;">Pais:</label>
      <input type="text" style="text-align: center;" class="form-control" id="pais">
    </div>

    <div style="text-align: center;">
      <button type="submit" class="btn btn-default" style="text-align: center;">Guardar</button>
    </div>
  </form>

  <div style="text-align: center;">  
    <br>
    <h1>Grilla de Locales</h1>
  </div>
</div>

<div id="UsuariosAdministrador" style="display: none">
  <div id="altaUsuariosAdministrador" style="display: none">
    <br>
    <form>
      <h1 style="text-align: center;"> Usuarios </h1><br>
      <div class="form-group" style="text-align: center;">
        <label for="idUsuarioAdministrador" style="text-align: center;">ID:</label>
        <input readonly="true" required type="text" style="text-align: center;" class="form-control" name="idUsuarioAdministrador" [(ngModel)]="idUsuarioAdministrador" id="idUsuarioAdministrador">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="nombreUsuarioAdministrador" style="text-align: center;">Nombre y apellido:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="nombreUsuarioAdministrador" [(ngModel)]="nombreUsuarioAdministrador" id="nombreUsuarioAdministrador">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="usuarioUsuarioAdministrador" style="text-align: center;">Usuario Login:</label>
        <input required type="text" style="text-align: center;" class="form-control" name="usuarioUsuarioAdministrador" [(ngModel)]="usuarioUsuarioAdministrador" id="usuarioUsuarioAdministrador">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="passwordUsuarioAdministrador" style="text-align: center;" >Password:</label>
        <input type="password" style="text-align: center;" class="form-control" name="passwordUsuarioAdministrador" [(ngModel)]="passwordUsuarioAdministrador" id="passwordUsuarioAdministrador">
      </div>
      <div class="form-group" style="text-align: center;">
        <label for="tipoUsuarioAdministrador" style="text-align: center;">Tipo usuario:</label>
        <select name="tipoUsuarioAdministrador" [(ngModel)]="tipoUsuarioAdministrador" id="tipoUsuarioAdministrador">
          <option [value]="'Administrador'">Administrador</option>
          <option [value]="'Encargado'">Encargado</option>
          <option [value]="'Cliente'">Cliente</option>
          <option [value]="'Empleado'">Empleado</option>
        </select>
       
       <!-- <input type="text" style="text-align: center;" class="form-control" id="tipoUsuarioAdministrador">-->
      </div>
      <div style="text-align: center;">
         {{tipoUsuarioAdministrador}}lalala
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="GuardarUsuario()">Guardar</button>
        <button type="submit" class="btn btn-default" style="text-align: center;" (click)="CancelarUsuario()">Cancelar</button>
      </div>
    </form>
  </div>

  <div style="text-align: center;">  
    <div class="jumbotron margin-top-10 margin-bot-10">
      <h1 class="display-3 animated bounceInRight">Listado de usuarios</h1>
      <!--<p class="lead animated animated bounceInRight">Acà podrás ver todos los usuarios registrados en la página.</p>-->
      <!--<div align="right" *ngIf="!error" ><a class="btn btn-success" [routerLink]="['/datosusuario','alta']"><i class="material-icons">person_add</i></a></div>-->
      <div align="right" *ngIf="!error" ><a class="btn btn-success"><i class="material-icons" (click)="altaUsuario()">Agregar Usuario</i></a></div>
      <hr class="my-4">

      <table class="table table-hover" *ngIf="!error">
        <thead class="thead-inverse">
          <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Password</th>
            <th>Tipo</th>
            <!--<th>Acciones</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of usuarios" class="table-info animated fadeIn">
            <th scope="row"><span class="badge badge-default badge-pill">{{u.usuario}}</span></th>
            <!--<td><img src="./assets/img/usuarios/{{u.foto}}" style="width:100px"></td>-->
            <td>{{u.nombre}}</td>
            <td>
              <h3><span type="password">{{u.password}}</span></h3>
            </td>
            <td>
              <h3><span>{{u.tipo}}</span></h3>
            </td>
            <!--<td>
              <div *ngIf="u.estado == 'activo'"><h5><span class="badge badge-success">{{u.estado}}</span></h5></div>
              <div *ngIf="u.estado == 'bloqueado'"><h5><span class="badge badge-danger">{{u.estado}}</span></h5></div>
            </td>-->
            <td>
              <!--<a class="btn btn-primary" [routerLink]="['/datosusuario',u.id]"><i class="material-icons">mode_edit</i></a>-->
              <!--<button class="btn btn-warning" (click)="CambiarEstado(u.id)"><i class="material-icons">do_not_disturb_alt</i></button>-->
              <button class="btn btn-primary" (click)="mostrarUsuario(u.ID, u.nombre, u.usuario, u.password, u.tipo)"><i class="material-icons">Modificar</i></button>
              <button class="btn btn-danger" (click)="deleteUsuario(u.ID)"><i class="material-icons">Borrar</i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <!--Si no hay datos-->
      <div *ngIf="error">
        <img src="http://k33.kn3.net/taringa/0/0/E/9/3/F/Franck870/519.gif" class="error-dino">
        <div class="alert alert-danger" role="alert">
          <strong>404</strong> Error de servidor.
        </div>
      </div>
    </div>
  </div>






</div>

<div id="EstadisticasAdministrador" style="display: none">
  <br>
  <h1 style="text-align: center;"> Estadisticas coorporativas </h1><br>
</div>